<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Upload photo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="center" *ngIf="!localImageSrc">
    <ion-button class="uploadBTN" size="small" shape="round" color="primary" (click)="takePicture()" fill="outline">
      Select Photo
    </ion-button>
  </div>

  <ion-card *ngIf="localImageSrc && !uploadingBool">
    <img [src]="localImageSrc" />
    <ion-card-content>

      <div>
        <ion-textarea autofocus="true" placeholder="Add title for image" [(ngModel)]="title"></ion-textarea>
      </div>

      <div class="center">

        <div class="btn-card">
          <ion-button (click)="startUpload()" color="primary" size="small" shape="round">Upload</ion-button>
        </div>
        <div class="btn-card">
          <ion-button (click)="deleteImage()" color="primary" size="small" shape="round">Discard</ion-button>
        </div>

      </div>


    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="uploadingBool">
    <ion-card-header>
      <ion-card-title>Uploading...</ion-card-title>
      <ion-card-subtitle>{{uploadProgress| number:'1.0-0'}}% complete</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar color="secondary" [value]="uploadProgress/100"></ion-progress-bar>
    </ion-card-content>
  </ion-card>


</ion-content>